@font-face {
    font-family: 'abeezeeregular';
    src: url('abeezee-regular-webfont.woff2') format('woff2'),
         url('abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_head_rbase';
    src: url('introheadr-base-webfont.woff2') format('woff2'),
         url('introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
}

.container {
    
    border: 1px solid white;
    text-align: center;
}

.boxBoxGrey {
    border: 1px solid dimgray;
    background-color: dimgray;
}
.nav {
    text-decoration: underline;
}
h1 {
    padding: inherit;
    margin: 50px;
    bottom: 10px;
    text-align: center;
    color: antiquewhite;
    font-family:'intro_head_rbase';
    font-size: 200%;
}

h2 {
    margin: auto;
    padding: inherit;
    text-decoration: overline;
    bottom: 15px;
    left: 45px;
    right: 45px;
    top: 15px;
    text-align: left;
    color: darkred;
    font-family:'abeezeeregular';
    font-size: 200%;
}

h3 {
    position: relative;
    text-align: center;
    color: antiquewhite;
    font-family: fantasy;
    font-size: 300%;
}

.cb97 {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}
.spearB {
    margin: auto;
    padding: inherit;
    text-align: left;
    color: darkred;
    font-family: monospace;
    font-size: 170%;
}

.jOne {
    margin: auto;
    padding: inherit;
    font-family: monospace;
    font-size: 170%;
    color: darkred;
    text-align: left;
}
h4 {
    text-align: left;
    color: antiquewhite;
    font-family: monospace;
    font-size: 150%;
}
p {
	color: antiquewhite;
    font-family:fantasy;
    font-size: 190%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
    clear: left;
    color: lightpink;
    text-align: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: darkred;
}
a {
    margin: auto;
    padding: 10px;
    color: darkolivegreen;
	text-align: left;
    font-family: monospace;
    font-size: 90%;
}


footer {
	margin: auto;
    padding: 10xp;
    color: antiquewhite;
    text-align: justify;
    font-family: fantasy;
    font-size: 100%
}

hr {
	
}

button {
	
}

img {
    position:relative;
    text-align: center;
    padding: 50px;
    margin: auto;
    border: 2px solid white;
}

