body {
    background-color: black;
}
div {
    position: fixed;
    bottom: 0px;
    left: 39px;
    right: 39px;
    top: 0px;
    
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-family:fantasy;
    font-size: 200%;
}

h2 {
    text-align: left;
    color: white;
    font-family: fantasy;
    font-size: 200%;
}

h3 {
    text-align: left;
    color: antiquewhite;
    font-family: fantasy;
    font-size: 200%;
}

h4 {
    text-align: left;
    color: antiquewhite;
    font-family: monospace;
    font-size: 150%;
}
p {
    width: 30px;
    border: 2px solid grey;
    padding: 30px;
    margin: 50px;
	color: antiquewhite;
    font-family:sans-serif;
    font-size: 90%;
}

a {
	
}

.header {
	
}

.footer {
	
}

hr {
	
}

button {
	
}

img {
	
}

