body{
    background-color: black;
}
h1 {
color: antiquewhite;
    font-family:cursive;
    font-size: 20px;
}

p {
    border: 2px solid grey;
	color: antiquewhite;
    font-family:serif;
    font-size: 15px;
}

a {
	
}

.header {
	
}

.footer {
	
}

hr {
	
}

button {
	
}

img {
	
}

